.movie-title {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.1px;
}
.movie-header{
    height: 400px;
}
.picsum-img-wrapper {
    min-height: 400px;
    background-size: cover;
}
.overview {
    text-align: justify;
    font-size: 17px;
}