
$color-base: white;
$color-opacity: rgba(68,85,99,.8);

.example-full-width {
    width: 100%;
}

.bg-agile-login{
    background-size: 150%;
    min-width: 100vw;
    min-height:100vh;
    animation-name: backgroundAni;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.bg-agile-2{
    background-image: url('../../../assets/agilesoft_spa_logo.jpg');
}

@media screen and (min-width: 1600px) {
    .bg-agile-login {
        background-size: cover !important; 
    }
}

@keyframes backgroundAni {
    0% {
        background-size: auto;
        background-position: center;
    }
    50% {
        background-size: calc(auto + 20%);
        background-position: right;
    }
    100% {
        background-size: auto;
        background-position: center;
    }
}


.bg-opacity{
    background-color: $color-opacity;
}

.bg-container-login{
    background-color: $color-base;
    max-width:500px; 
    width: 100%;
}
.img-logo-login{
    max-width: 336px;
    width: 100%;
    text-align: center;
}
.img-logo-login img{
    width: 70%;
}
.login-form{
    max-width: 80%;
    width: 100%;
}
.bottom-part{
    position: absolute;
    bottom: 0;
}
.bottom-part .sub-text{
    white-space: nowrap;
}
.bottom-part .text-container{
    display: inline-flex;
    justify-content: center;
    flex-wrap:wrap;
}


